body
{
	overflow: hidden;
	background-image: url(../img/bg.png);
}

.slider
{
	position: absolute;
	top: 42px;
	background-image: url(../img/stripe.png), -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #000), color-stop(0.5, #aaa), color-stop(1.0, #000));
	background-image: url(../img/stripe.png), -moz-linear-gradient(left bottom, #000 0%, #aaa 50%, #000 100%);
	border: 1px inset #777;
}

.slider .pointer
{
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.0, rgba(50,50,50,.7)), color-stop(0.5, #777), color-stop(1.0, rgba(50,50,50,.7)));
	background-image: -moz-linear-gradient(-45deg, rgba(50,50,50,.7) 0%, #777  50%, rgba(50,50,50,.7) 100%);
	width: 32px;
	height: 20px;
	border-radius: 5px;
	margin-left: -4px;
	border: 1px outset #777;
}

#pitchWheel
{
	left: 5px;
}

#modWheel
{
	left: 40px;
}

#keyboard
{
	position: absolute;
	left: 75px;
	top: 42px;
	width: 100%;
	width: calc(100% - 75px);
	width: -moz-calc(100% - 75px);
	height: 152px;
	overflow: hidden;
	border: 1px inset #777;
	background: #fff;
}

#keycontainer
{
	position: absolute;
	top: 0px;
	height: 152px;
}

#keycontainer, div.key
{
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

applet
{
	position: absolute;
	left: -1px;
	top: 0px;
	z-index: -100;
}

#settingButton, #settings
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: auto;
	height: 40px;
	background-color: rgba(0,0,0,0.7);
	font-weight: bold;
	font-size: 120%;
	color: #fff;
	border-color: black;
	z-index: 3;
}

#settingButton, #settings, div.key, .slider
{
	box-shadow: 0px 0px 15px #000 inset;
	-webkit-box-shadow: 0px 0px 15px #000 inset;
	-moz-box-shadow: 0px 0px 15px #000 inset;
	-o-box-shadow: 0px 0px 15px #000 inset;
}

#settings
{
	width: 100%;
	height: 100%;
	z-index: 4;
	padding: 10px;
}

.noAnimation #keycontainer, .noAnimation .key
{
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
}
.noShadows .key
{
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}

div.key
{
	width: 40px;
	height: 150px;
	border: 1px solid #666;
	float: left;
	margin: 0px;
	position: relative;
	cursor: pointer;
}

.key.hover
{
	background-color: #aae;
}

.key.pressed
{
	background-color: #aaa;
}

div.white
{
	background-color: #fff;
	margin-left: -1px;
}

div.black
{
	width: 26px;
	background-color: #444;
	margin-left: -14px;
	height: 75px;
	margin-right: -14px;
	z-index: 1;
}
